# DATABASE
MONGO_URL=

# SERVER
APP_PORT=5000

# JWT ACCESS TOKEN
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=1d

# JWT REFRESH TOKEN
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=7d

# EMAIL
GMAIL_USER=
GMAIL_APP_PASSWORD=




# Advices for using my App #

# https://localhost:4000/api

#ishlatilinishi index html da qilinadi--> index html faylini ichiga kiriladi va Go Live bosiladi yoki skaner qiling render , vercel va mongo atlasga ulab quyganman) 

# admin access -->  Email -->      admin@qrmenu.uz 
                    # Password -->   spiderman




# /** 
# */
# {
#   "name": "spiderman",
#   "email": "admin@qrmenu.uz",
#   "password": "$2b$10$cLQbDQ9B0X/EQ2/UN9cgy.obiv.mrLxlJtlGmp5a3BmsFjyx7N6uu",
#   "role": "admin",
#   "createdAt": {
#     "$date": "2026-04-24T13:10:44.957Z"
#   },
#   "updatedAt": {
#     "$date": "2026-04-24T13:10:44.957Z"
#   }
# }